
body {
	background-color: #4FA4D6;
	font-family: arial;
	color: #FFF;
}

body > button, form > button {
	height: 100%;
	padding: 20px 20px;
	margin: 0px 0px;
	
	font-family: arial;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	
	border: none;
	border-radius: 19px;
	background: linear-gradient(145deg, #55afe5, #4794c1);
	box-shadow: 8px 8px 20px #438bb6, 
				-8px -8px 20px #5bbdf6;
				
	cursor: pointer;
}
body > button:hover, form > button:hover {
	background: linear-gradient(145deg, #59b7ef, #4b9ccc);
}

h1{
	text-align: center;
}

h3{
	text-align:center;
}

.button--style-focusbox{
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Focusbox__form and Focusbox__input */
form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
input{
	height: 40px;
	width: 300px;
	margin-top: 7px;
	margin-bottom: 14px;
	
	text-align: center;
	font-size: 18px;
	
	background: #A7D6F2;
	border: none;
	border-radius: 13px;
	box-shadow: 11px 11px 22px #4895c3, 
				-11px -11px 22px #56b3e9;
}
a{
	margin-top: 0px;
	margin-bottom:0px;
	text-align: center;
	font-size: 14px;
	text-decoration:none;
	color: #326989;
}

/*=============================== 
	FORM
================================*/

#response, #submit{
	margin-top:30px;
}


