<h1>Workout Tracker</h1>
<form class="form-signup" action="/insert">
	<h3>Please enter workout data</h3>
	<input type="text" id="name" placeholder="name">
	<input type="number" id="reps" placeholder="reps">
	<input type="number" id="weight" placeholder="weight">
	<input type="date" id="date" placeholder="0000-00-00">
	<input type="checkbox" id="lbs">
	<button type="submit" id="submit" class="button">Submit</button>
	<label id="response"></label>
</form>

<table>
	{{#each bodyTable}}
		<tr>
			<th>{{this.name}}</th><td>{{this.value}}</td>
		</tr>
	{{/each}}
</table>

<h1>{{results}}</h1>